
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;

}

.content-body{
  min-height: 100%;
  padding:60px 1rem;
  background: #16bca8;
  display: block;
}