<div class="add-client-form">
    <h2>Ajouter un nouveau client</h2>
    <form (ngSubmit)="addCustomer()">
        <mat-form-field class="form-field">
            <mat-label>Score de crédit :</mat-label>
            <input matInput type="number" name="credit_score" [(ngModel)]="newCustomer.credit_score" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Pays :</mat-label>
            <input matInput type="text" name="country" [(ngModel)]="newCustomer.country" required>
        </mat-form-field>
        <div class="form-field">
            <mat-label>Genre :</mat-label>
            <mat-radio-group name="gender" [(ngModel)]="newCustomer.gender" required>
                <mat-radio-button value="Femme">Femme</mat-radio-button>
                <mat-radio-button value="Homme">Homme</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="form-field">
            <mat-label>Âge :</mat-label>
            <input matInput type="number" name="age" [(ngModel)]="newCustomer.age" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Ancienneté :</mat-label>
            <input matInput type="number" name="anciennete" [(ngModel)]="newCustomer.anciennete" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Solde :</mat-label>
            <input matInput type="number" name="solde" [(ngModel)]="newCustomer.solde" required>
        </mat-form-field>
        <div class="form-field">
            <mat-label>Carte de crédit :</mat-label>
            <mat-radio-group name="carte_de_credit" [(ngModel)]="newCustomer.carte_de_credit" required>
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-field">
            <mat-label>Membre actif :</mat-label>
            <mat-radio-group name="membre_actif" [(ngModel)]="newCustomer.membre_actif" required>
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="form-field">
            <mat-label>Salaire estimé :</mat-label>
            <input matInput type="number" name="salaire_estime" [(ngModel)]="newCustomer.salaire_estime" required>
        </mat-form-field>
        <div class="form-field">
            <mat-label>Désabonnement :</mat-label>
            <mat-radio-group name="desabonnement" [(ngModel)]="newCustomer.desabonnement" required>
                <mat-radio-button value="oui">Oui</mat-radio-button>
                <mat-radio-button value="non">Non</mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </form>
</div>
